<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="css/accueil.css">
</head>
<body>
    <%- include('partiel/navigation') %>

    <h1>Nos plats</h1>

    
         <% resultat.forEach (r => { %>
        <h3> <%= r.nom %> <span> <%= r.prix %> </span> </h3> <br><br>
        
        <input type="button" value="supprimer" onclick="suppdonnee('<%= r.id %>', '<%= r.nom %>', '<%= r.prix %>')">
        <input type="button" value="modifier" onclick="remplirdonnees('<%= r.id %>', '<%= r.nom %>', '<%= r.prix %>')"
        <% }) %>
    
<br>

    <h2>Créer un nouveau plat </h2>

    <form action="/plat" method="post">
        <input type="hidden" name="id" id="id"> 
        <label>Nom plat :</label>
        <input type="text" name="nom" id="nom" required>
<br><br>
        <label>Prix (en €) :</label>
        <input type="number" name="prix"  id="prix" required>
<br><br>
        
        <input type="submit" value="Envoyez" required>
    

</form>

   <!-- <h2>Hamburger double steack </h2>
    <h3>Prix : simple 7€, en menu : 8€ </h3>

<div class="plat1">
    <img src="téléchargement.jpg" alt="double steack">
</div>
<br>
<br>

    <h2>Wrap</h2>
    <h3>prix : simple 3,50€, en menu : 5€</h3>


<div class="plat2">
    <img src="wrap.jpg" alt="un menu wrap">
</div>
<br>
<br>
    <h2>Tacos</h2>
    <h3>Prix : simple 7,50€, en menu : 9€</h3>

<div class="plat3">
    <img src="tacos.jpg" alt="un bon vieux tacos">
</div>

<br>
<br>

    <h2>Quesadillas</h2>
    <h3>Prix : simple 7€, en menu : 8€</h3>

<div class="plat4">
<img src="quesadilla.jpg" alt="plat espagnol">
</div>
-->

<%- include('partiel/footer') %>
</body>

<script> 
    function remplirdonnees(id, nom, prix) {
        document.querySelector("#id").value = id;
        document.querySelector("#nom").value = nom;
        document.querySelector("#prix").value = prix;
    }
</script>

<script>
    function suppdonnee(id) {
    let routeComplete = "supprimplat/" + id;

    fetch( 
        routeComplete, {method : "DELETE"}
    ).then(
        (reponse) => responce.json()
    ).then(
     (donnee) => window.location.href = donnee.routeRacine   
    )
    }
</script>
</html>